{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto"
      }
    ],
    "semi": "off",
    "arrow-parens": "off",
    "require-jsdoc": "off",
    "operator-linebreak": "off",
    "indent": "off",
    "no-debugger": "off"
  },
  "extends": ["eslint:recommended", "google", "prettier"],
  "plugins": ["prettier", "jest"]
}
